
.Menu{

    position: absolute;
    padding-top: 40px;
    display: block;
    width: 300px;
    height: 320px;
    top: 60px;
    background-color: pink;
}
.Link{
    text-decoration: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: purple;   
}