.CardFooter{
    box-sizing: border-box;
    display: flex;
    background-color: #edf1f9;
    height: 65px;
}
.FooterOderWrapper{
    display: flex;
    height: 65px;
}
.FooterOderRow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 65px;
    border-right: 1px solid rgb(211, 202, 202);
}
.FooterBusket{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-left: 15px;
}