.CardWrapper{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: calc(100% / 3 - (10px / 2));
    
    height: 420px;
}

@media (max-width:870px) {
    .CardWrapper{
        width: calc(100% / 2 - (10px / 2));
    }
}
@media (max-width:430px) {
    .CardWrapper{
        width: calc(100% / 1 - (10px / 2));
    }
}

.CardWrapperImg{
    display: block;
    overflow: hidden;
    position: relative;
    height: 300px;
}
.CardWrapperImg img{
    width: 100%;  
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.CardDescription{
    font-size: 20px;
    color: purple;
}
.Footer{
    height: 65px;
}