
.container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
}
.sidebar{
    height: 100%;
    width: 35%;
    position: absolute;
    top:0;
    left:0;
    font-size: 34px;
}
.sidebar > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Text1{
    background-color: #e6fef6;
    color: #00b2bc;
}
.Text2{
    background-color: black;
    color: rgb(221, 209, 220);
}
.Text3{
    background-color:  #e9a49d;
    color: #6b6098;
}
.Text4{
    background-color: #f0174e;
    color: #cdbada;
}
.Link{
    text-decoration: none;
    color: inherit;
}
.mainSlider{
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
}
.mainSlider > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.Img1{
    background-image: url(./../../img/skirt.jpg);
}
.Img2{
    background-image: url(./../../img/hat.jpg);
}
.Img3{
    background-image: url(./../../img/dress.jpg);
}
.Img4{
    background-image: url(./../../img/bag.jpg);
}


button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    padding: 5px;
  }
  
  .arrowButton{
    height: 36px;
    width: 36px;
    color: purple;
  }
  .arrowButton:hover {
    color: pink;
  }
  .arrowButton:focus {
    outline: none;
  }
  .container .controls button {
    position: absolute;
    left: 35%;
    top: 55%;
    z-index: 100;
  }
  
  .container .controls .downButton {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .container .controls .upButton {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }