.HeaderWrapper{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf1f9;
}
.HeaderButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.SearchButton{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.BasketButton{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.BasketButtonLink{
    display: flex;
    text-decoration: none;
    color: black;
}
.count{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: gray;

}

.MenuButton{
    cursor: pointer;
    width: 40px;
    height: 40px;
}